%footer
  %ul
    %li
      %a{:href => "#"}
        = img "marker_1"
      %h3 Contact
      %ul
        %li phone:
        %li +27798651542
        %li email:
        %li glenn.roberts@siyelo.com
        
    %li
      %a{:href => "#"}
        = img "marker_1"
      %h3 Cape Town
      %ul
        %li phone:
        %li +27798651542
        %li email:
        %li glenn.roberts@siyelo.com
        
    %li
      %a{:href => "#"}
        = img "marker_1"
      %h3 Skopje
      %ul
        %li phone:
        %li +27798651542
        %li email:
        %li glenn.roberts@siyelo.com
        
    %li
      %a{:href => "#"}
        = img "icon_twitter"
      %a{:href => "#"}
        = img "icon_facebook"
      %a{:href => "#"}
        = img "icon_github"
        
  %aside
    %a{:href => "#", :class => "left"}
      = img "back_to_top.png"
      Back to top
    %p.right Copyright information
