
.wrapper

  %section#projects.clouds
    %h3.center Our recent projects
    %ul#recent_projects
      %li.half
        = img "../images/screen_hrt.png"
        %hgroup
          %h4
            Health Resource Tracker
            = link "url", "#"
          %h5 ABT Associates
        
      %li.half
        = img "../images/screen_dhsst.png"
        %hgroup
          %h4
            District Health Systems Strengthening Tool
            = link "url", "#"
          %h5 Clinton Health Access Initiative
      
  %section#clients.clouds
    %h3.center Our Clients
  
    %ul#clients_list.horizontal
      %li
        %a{:href => "#"}
          = img "../images/client_abt.png"
        
      %li
        %a{:href => "#"}
          = img "../images/client_chai.png"
        
      %li
        %a{:href => "#"}
          = img "../images/client_usaid.png"
        
      %li
        %a{:href => "#"}
          = img "../images/client_treelined.png"
        
      %li
        %a{:href => "#"}
          = img "../images/client_sanfi.png"
        
      %li
        %a{:href => "#"}
          = img "../images/client_rooftop.png"

  %section#quotes.clouds
    %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
    %p Some Person, A Company
  

  %section#social.clouds
    .two-thirds
      %article
        %h3
          %a{:href => "#"} Some Blog Title
        %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
        %aside
          %p written 9 days ago
      %ul
        %li
          %h4
            %a{:href => "#"} Some Other Blog Title
          %aside
            %p written 10 days ago
        
        %li
          %h4
            %a{:href => "#"} This Blog Title Is A Bit Longer
          %aside
            %p written 12 days ago
        
        %li
          %a{:href => "#", :class => "follow"} go to the blog

    .third
      %h3 Twitter
      %ul#twitter
        %li
          = img "../images/twitter_icon.png", :class => "left"
          %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.
          %ul.horizontal
            %li= link "5 days ago"
            %li= link "reply"
            %li= link "retweet"
            %li= link "favorite"
        %li
          = img "../images/twitter_icon.png", :class => "left"
          %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
          %ul.horizontal
            %li= link "5 days ago"
            %li= link "reply"
            %li= link "retweet"
            %li= link "favorite"
        %li
          = img "../images/twitter_icon.png", :class => "left"
          %p Lorem ipsum dolor sit amet.
          %ul.horizontal
            %li= link "5 days ago"
            %li= link "reply"
            %li= link "retweet"
            %li= link "favorite"
        %li
          = img "../images/twitter_icon.png", :class => "left"
          %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
          %ul.horizontal
            %li= link "5 days ago"
            %li= link "reply"
            %li= link "retweet"
            %li= link "favorite"