!!!
%html.no-js

  %head
    %title Siyelo Software: Expert Ruby On Rails Consultancy
    = stylesheets
    = javascripts('jquery-1.7.min', 'modernizr.custom')
    
  %body
    = partial('../shared/header')
    = yield
    = partial('../shared/footer')